<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#who-am-i">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#what-i-do">What I do</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#my-vision">Vision</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.copyright_start_year }}&ndash;{{ site.time | date: '%Y' }} Yael Prigat Goldfriend. All Rights Reserved.</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
